/* ===== Website Stylesheets ================================================ */

.main {
    /* Display and Box Model */
    padding: 10px;
    /* Text */
    font-family: Arial, Helvetica, sans-serif;
}

.button {
    /* Display and Box Model */
    border: none;
    border-radius: 10px;
    display: inline-block;
    padding: 10px;
    /* Color */
    background-color: transparent;
    /* Text */
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    /* Other */
    cursor: pointer;
    transition: all 0.5s;
}

.button span {
    /* Position */
    position: relative;
    /* Display and Box Model */
    display: inline-block;
    /* Other */
    cursor: pointer;
    transition: 0.5s;
}

.button span:after {
    /* Position */
    position: absolute;
    right: -20px;
    top: 0;
    /* Display and Box Model */
    opacity: 0;
    /* Text */
    content: "\00bb";
    /* Other */
    transition: 0.5s;
}

.button:hover span {
    /* Display and Box Model */
    padding-right: 25px;
}

.button:hover span:after {
    /* Position */
    right: 0;
    /* Display and Box Model */
    opacity: 1;
}

.area {
    /* Display and box model */
    border-radius: 10px;
    padding: 25px;
}

.area h1 {
    /* Text */
    font-size: 4rem;
    margin-bottom: 5px;
}

.area h2 {
    /* Text */
    font-size: 2rem;
}

.area p {
    /* Text */
    font-size: 1.25rem;
}

/* ===== Info Area Styling ================================================== */

.area_info {
    /* Color */
    background-image: linear-gradient(to bottom right, orchid, thistle);
    color: white;
}

.button_info {
    /* Display and Box Model */
    width: 100px;
    /* Color */
    border: 2px solid white;
    border-color: white;
    color: white;
}

.button_info:hover {
    /* Color */
    background-color: white;
    color: orchid;
}

/* ===== Entry Area Styling ================================================= */

.area_entry {
    background-color: lightgray;
}

/* ===== Card Area Styling ================================================== */
